/* Mixins */
@import 'mixins/_sass-css3-mixins.scss';
@import 'mixins/_include-media.scss';

@mixin clearfix {
  &:after {
    clear: both;
    display: table;
    content: '';
  }
}

@mixin vhcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
@mixin vcenter {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin hcenter {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin full-size {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

