.navBarContainer {
  padding: 0;
  margin-bottom: 15px;
}

.navBarBrand {
  line-height: 3rem;
  font-size: 1.25rem;
}

.navBarForm {
  border-bottom: none;
}

.navBarCollapse {
  border-top: none;
}
